.country {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
  padding: 1em;
  background: rgba(245, 222, 179, 0.5);
}

.country-index {
  position: relative; /* Importante para que el popover absoluto se posicione relativo aquí */
}
.p-i{
  margin: 0;
  position: relative;
  bottom: 6px;
}
.info-btn {

  position: absolute;
  top: 8px;
  right: 8px;
  width: 28px;
  height: 28px;
  padding: 10px 8px;
  border-radius: 25%;
  background: rgb(193, 77, 4);
  color: rgb(245, 234, 234);
  font-weight: bold;
  cursor: pointer;
  z-index: 10;
  border: 1px solid #000;
}

.link-country {
  text-decoration: none;
  color: inherit;
}

.slide-out{
  animation: slide-out 1.5s ease-in forwards;
}
@keyframes slide-out{
  from{
    opacity: 0.6;
    transform: scale(0%);
  }

  to{
    opacity: 1;
    transform: scale(100%);
  }
}


.name-common {
  font-size: 22px;
  text-align: center;
  padding: 0.4em 0.8em;
  background-color: aliceblue;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.container-country:hover .name-common {
  opacity: 1;
}

.container-country:hover img {
  transform: scale(1.1);
}

/* popover pegado al botón */
.popover {
  position: absolute;
  top: 40px; /* Baja un poco para que no tape el botón */
  left: calc(100% + 8px);
  width: 240px;
  background: #b33a1a;
  color: white;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
  z-index: 100;
}

.popover::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 100%;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent transparent #b33a1a;
}

@media (max-width: 560px) {
  .country {
    grid-template-columns: repeat(1, 1fr);
  }
}
