
.world{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: url("../img/world.png");
    background-size: cover;
    box-shadow: inset 0 0 20px #000;
    inset:  -40px -10px 20px rgba(3, 32, 56, 0.7);
    animation:moveEarth 5s linear infinite ;
}

.loading{
    animation: loading 3s ease-in-out infinite;
}
@keyframes loading{
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 1;
    }
    to{
        opacity: 0.5;
    }
}

@keyframes moveEarth{
    from{
        background-position-x: 0;
    }
    to{
        background-position-x: -800px;
    }
}