@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  margin: 15px 10px;
  font-weight: 500;
  font-family: inherit;

  cursor: pointer;
  transition: border-color 0.25s;
  transition: 2 linear;
}
button:hover {
  border-color: #646cff;
  box-shadow: 0 10px 20px rgba(100, 108, 255, 0.5);
  transform: translatey(-2px);
}
.formulario {
}
label {
  font-family: "Roboto", sans-serif;
  letter-spacing: 3px;
  font-size: 2.2rem;
}
.input-text {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  outline: none;
  border: 1 solid #000;
  border: none;
  outline: none;
  padding: 0.2em;
  padding: 8px 10px;
  font-size: 12px;
}
.input-text:focus {
  border-color: #646cff;
  box-shadow: 0 10px 30px rgba(201, 203, 234, 0.8);
  color: rgb(14, 19, 19);
}
