
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  margin: 15px 10px;
  font-weight: 500;
  font-family: inherit;

  cursor: pointer;
  transition: border-color 0.25s;
  transition: 2 linear;
}
button:hover {
  border-color: #646cff;
  box-shadow: 0 10px 20px rgba(100, 108,255, 0.5);
  transform: translatey(-2px);
}
.formulario{

}

.input-text{
    outline: none;
    border: 1 solid #000;
    padding: .2em;
}
.input-text:focus{
    border-color: #646cff;
    box-shadow:  0 10px 20px rgba(100, 108,255, 0.5);
    color: aqua;
}